* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e1e1e1;
}
a {
    text-decoration: none;
}
.nav {
    width: 100%;
    height: 60px;
    background-color: #444;
}
.menu {
    width: 80%;
    margin: 0 auto;
    height: 60px;
    
}
.menu p {
    color: greenyellow;
    font-size: 30px;
    line-height: 60px;
    display: inline;
}
.menu_list{
    line-height: 60px;
    float: right;
}
.menu_list a {
    color: white;
    padding: 0px 10px 0px 10px;
}
#article_box {
    background-color: white;
    width: 70%;
    margin-left: 80px;
}
.list {
    background-color: #f6f6f6;
    width: 70%;
    margin-top: 20px;
    min-height:20px;
    margin-left: 80px;
}
.list a {
    line-height: 50px;
    color: rgb(41, 158, 31);
    margin-left: 20px;
}
.article {
    line-height: 30px;
    padding: 10px 20px 10px 10px;
    border: 1px solid #f6f6f6;
    display: flex;
}
.article:hover {
    background-color:#f6f6f6;
}
.author_name {
    color: rgba(128, 128, 128, 0.897);
    font-size: 15px;
    margin-right: 15px;
}
.title {
    color: black;
    margin-left: 10px;
}
.title:hover {
    text-decoration: underline;
}
.article p {
    font-size: 15px;
    color: rgba(128, 128, 128, 0.521);
}
.last_active_time {
    flex: 1;
   text-align: right;
}